{% extends 'layout.html' %}

{% block body %}
    <section class="container-fluid px-0">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12">
                <div class="text-white text-center d-lg-block mt-5">
                    <h1 class="text-white">About Me</h1>
                    <h2>My name is Travis Rivers and I live in Denver with my fiance and two pups.  We moved here 3 1/2 years ago from Rochester, NY because we fell in love with Colorado.  
                        I've spent my career working in talent acquistion, primarily for healthcare entities.  Recently, I decided to learn how to code and I've been enjoying it.  
                    I've always embraced things that are challenging and I love learning.  With coding, I get both of those things. </h2>
                    
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 mt-5">
                <img class="img-fluid img-thumbnail" src="/static/profesh.jfif" alt="">
            </div>
        </div>
        <div class="row align-items-center">
                <div class="col-lg-6 col-sm-12 mt-5">
                        <img class="img-fluid img-thumbnail" src="/static/f2w.jpg" alt="">
                    </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="text-white text-center d-none d-lg-block mt-5">
                        <h2>I enjoy competing in Jiu-Jitsu </h2>
                        
                    </div>
                </div>
              
            </div>
            <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-12">
                            <div class="text-white text-center d-none d-lg-block mt-5">
                                <h2>Hiking </h2>
                                
                            </div>
                        </div>
                    <div class="col-lg-6 col-sm-12 mt-5">
                            <img class="img-fluid img-thumbnail" src="/static/princeton.jpg" alt="">
                        </div>
                   
                  
                </div>
                <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-12 mt-5">
                                <img class="img-fluid img-thumbnail" src="/static/lighthouse.jpg" alt="">
                            </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="text-white text-center d-none d-lg-block mt-5">
                                <h2>And traveling </h2>
                                
                            </div>
                        </div>
                      
                    </div>
    </section>

{% endblock %}

   