{% extends 'layout.html' %}

{% block body %}
    <div class="row">
        <div class="col-lg-4 col-md-6 mt-5">
                <img src="/static/pups.jpg" class="img-thumbnail">
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
                <img src="/static/fam.jpg" class="img-thumbnail">
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
                <img src="/static/ridin.jpg" class="img-thumbnail">
        </div>
        <div class="col-lg-4 col-md-6 my-5">
                <img src="/static/majestic.jpg" class="img-thumbnail">
        </div>
        <div class="col-lg-4 col-md-6 my-5">
                <img src="/static/smol.jpg" class="img-thumbnail">
        </div>
        <div class="col-lg-4 col-md-6 my-5">
                <img src="/static/glacier.jpg" class="img-thumbnail">
        </div>
        <div class="col-lg-4 col-md-6">
                <img src="/static/birthday.jpg" class="img-thumbnail">
        </div>
        <div class="col-lg-4 col-md-6">
                <img src="/static/speedoflight.jpg" class="img-thumbnail">
        </div>
        <div class="col-lg-4 col-md-6">
                <img src="/static/puppack.jpg" class="img-thumbnail">
        </div>
        </div>
{% endblock %}