<!DOCTYPE html>
<html>
<head>
<title>Todo List</title>
<link rel="stylesheet" type="text/css" href="/static/fancytodo.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</head>
<body>
    <div id="container">
        <h1>To-Do List<i class="far fa-plus-square"></i></h1>
        <input type="text" placeholder="Add New To-Do">
        <ul>
            <li><span> <i class="fas fa-trash-alt"></i> </span>Walk Dogs</li>
            <li><span> <i class="fas fa-trash-alt"></i> </span>Code</li>
            <li><span> <i class="fas fa-trash-alt"></i> </span>Go Train</li>
        </ul>
    </div>

<script type="text/javascript" src="/static/fancytodo.js"></script>
</body>
</html>