
{% extends 'layout.html' %}

{% block body %}
    <section class="container-fluid px-0">
        <div class="row align-items-center">
                <div class="col-lg-6 col-sm-12">
                        <div class="text-white text-center d-lg-block mx-5 mt-5">
                            <h1 id="content">What'd Up!</h1>
                            <h2>Welcome to my site! My name is Travis and I put this together to serve as my portfolio.  I have been learning and using
                                Python, HTML, CSS, JavaScript and a whole host of libraries and frameworks including Flask, Express JS, JQuery, and Bootstrap.
                            </h2>
                        </div>
                    </div>
            <div class="col-lg-6 col-sm-12 d-none d-lg-block mt-5">
                <img class="" src="/static/sherman.jpg">
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm mt-5">
                <img class="" src="/static/iceland.jpg">
            </div>
            <div class="col-sm mt-5">
                    <div class="text-white text-center d-lg-block mx-auto mt-5">
                        <h2>This site was built using Bootstrap and is powered by Flask. </h2>
                    </div>
            </div>
        </div>
    </section>
{% endblock %}



